@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1 !important;
  overflow-x: hidden;
}
